* {
  box-sizing:border-box;
}
#container {
  width:1200px;
  margin:0 auto;
}
a {
  text-decoration: none;
  color:black;
}
header{
  display:flex;
  justify-content:space-between;
  background-color: rgb(156, 144, 212);
  margin:0 auto;
  width:1200px;
}
#title_ui {
}
#title {
  padding:10px;
  color:white;
  font-family: 'Gaegu', cursive;
  margin-left:10px;
  font-size:40px;
}

#login_ui {
  display:flex;
  align-items:center;
  margin-right:80px;
}
#login_go {
  background-color: white;
  border:none;
  border-radius: 15px;
  font-size:30px;
  font-family: 'Gaegu', cursive;
}
#login_go:hover {
  background-color: gray;
}

main {
  height:900px;
  display:flex;
  margin-top:30px;
}
section{
  width:80%;
  height:100%;
  font-family: 'Dongle', sans-serif;
}
#guess_game{
  display:flex;
  margin:10px;
  width:900px;
  height:40%;
  border:1px solid gray;
}
#guess_left {
  margin:0;
  width:70%;
  height:100%;
  border-right:1px dotted red;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#guess_info {
  font-size:50px;
  margin-bottom: 30px;
}
#guess_input {
  width:100px;
  height:50px;
  border-radius: 10px;
  margin-bottom: 50px;
  text-align: center;
  font-size:30px;
}
#guess_input_button {
  width:50px;
  height:50px;
  border-radius: 50%;
  margin-right:20px;
}
#guess_reset {
  width:50px;
  height:50px;
  border-radius: 50%;
  padding:0;
}
#guess_input_button, #guess_reset {
  background-color: white;
}
#guess_input_button:hover, #guess_reset:hover {
  background-color: gray;
}
#guess_right {
}
.guess_rank {
  font-size:30px;
  margin-bottom:20px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left:75px;
}
#guess_first,#guess_second,#guess_third {
  text-decoration: underline;
  font-size:40px;
}

aside{
  width:20%;
  height:100%;
  display:inline-block;
  text-align: center;
  font-family: 'Gaegu', cursive;
  border-left:1px solid black;
}
#today {
  font-size:50px;
  color:cornflowerblue;
  margin:30px 0 20px;
}
#today_date, #today_time {
  margin-top:0;
  padding:0;
  font-size:25px;
  color:palevioletred;

}
#today_time {
  margin-bottom:150px;
}
#link_title {
  font-size:40px;
  margin-bottom:10px;
}
#links {
  display:flex;
  flex-direction: column;
}
.link_img {
  width:100px;
  height:100px;
  margin-top:30px;
}
.link_name {
  font-size:20px;
}

#hint {
  display:flex;
  margin-left:30px;
}
#hint_img {
  width:300px;
  height:300px;
  border-radius: 50%;
  margin-right:50px;
}
.talk_balloon {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5px;
  width: 570px;
  height: 350px;
  line-height: 90px;
  text-align: center;
  color: #FFF;
  font-size: 20px;
  font-weight: bold;
  background: rgb(160, 160, 84);
  border-radius: 50%;
  box-sizing: border-box;
}

.talk_balloon:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -25px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid rgb(160, 160, 84);
  z-index: 0;
}
#fortune_section {
  width:100%;
  height:20%;
}
#fortune_title {
  margin-top:30px;
  margin-left:30px;
  font-size:50px;
  margin-bottom:20px;
  color:skyblue
}
#fortune {
  font-size:40px;
  margin:0 auto;
  width:500px;
}

footer {
  width:100%;
  height:100px;
  border-top:2px solid #222;
  display:flex;
  justify-content: space-between;
}
#github_img {
  width:50px;
  height:50px;
}
#introduce_name {
  font-size:25px;
  font-family: 'Gaegu', cursive;
  color: teal;
  margin-left:10px;
  margin-top:5px;
}